In [4]:
l1=list
display(l1)
type(l1)

list

type

In [5]:
l2 = []
display(l2)
type(l2)

[]

list

In [1]:
#list

student = [87,96,67]
display(student)
type(student)

[87, 96, 67]

list

In [3]:
#subscript

display(student[0])
display(student[1])

87

96

In [ ]:
display('5')#會顯示字串方式
print('5')#只會顯示數字5

In [6]:
#dict

stu1= dict(國文=97,數學=67,英文=88)
display(stu1)

{'國文': 97, '數學': 67, '英文': 88}

In [10]:
display(stu1['國文'])
display(stu1['數學'])
display(stu1['英文'])

97

67

88